# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Build artifacts
build/
dist/
*.spec

# OS files
.DS_Store
Thumbs.db

# Anki artifacts
*.apkg

# Local config
config.json

# SQLite temp
*.sqlite
*.db

# IDE
.vscode/
.idea/